
TP2/.ipynb_checkpoints/ConversionPrediction-Copy3-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-Copy1-checkpoint.ipynb
TP2/.ipynb_checkpoints/20181201_RF87-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-Clustering-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-Copy2-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-InterquantileSessions-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-LabelAnalisis-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181203_Score_084539-Copy1-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181203_Score_084539-Copy2-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181204-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181204-RandomForest-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181204_XGB-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181204_XGB_Pruebas-checkpoint.ipynb
TP2/20181201_RF87.ipynb
TP2/ConversionPrediction-Clustering.ipynb
TP2/ConversionPrediction-Copy1.ipynb
TP2/ConversionPrediction-Copy2.ipynb
TP2/ConversionPrediction-Copy3.ipynb
TP2/ConversionPrediction-InterquantileSessions.ipynb
TP2/ConversionPrediction-LabelAnalisis.ipynb
TP2/ConversionPrediction_20181203_Score_084539-Copy1.ipynb
TP2/ConversionPrediction_20181203_Score_084539-Copy2.ipynb
TP2/ConversionPrediction_20181203_Score_084539.ipynb
TP2/ConversionPrediction_20181204-RandomForest.ipynb
TP2/ConversionPrediction_20181204.ipynb
TP2/ConversionPrediction_20181204_XGB.ipynb
TP2/ConversionPrediction_20181204_XGB_Pruebas.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-RF85K8320181110-checkpoint.ipynb
TP2/ConversionPrediction_20181205_Score_085223-Copy1.ipynb
TP2/ConversionPrediction-XGB76K73.ipynb
TP2/ConversionPrediction-RF85K8320181110.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181205_Score_085223-Copy1-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181205_Score_085223-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction_20181203_Score_084539-checkpoint.ipynb
TP2/.ipynb_checkpoints/ConversionPrediction-XGB76K73-checkpoint.ipynb
